<div class="modal-header">
   <h3 class="modal-title">S'abonner à une ou plusieurs catégories </h3>
</div>

<div class="modal-body">
	<form>
		<div ng-repeat="cat in abonnementCategories.categories">
			<input type="checkbox" checklist-model="abonnementCategories.selectedCategories.cats" checklist-value="cat._id"/> {{ cat.name }}
		</div>			
</form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="abonnementCategories.validate()">valider</button>
  <button class="btn btn-warning" type="button" ng-click="abonnementCategories.cancel()">Annuler</button>
</div>


